* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: "Poppins";
}

.job-header {
    /* border: 1px red solid; */
    width: 0px auto;
    margin: 8px;
    padding: 8px
}

.job-search-title {
    display: flex;
    gap: 8px;
}

.job-search-bar {
    padding: 8px;
    margin: 16px auto;
    border-radius: 8px;
    width: 100%;
    border: 1px grey solid;
    font-size: 1.2rem;
}

.job-search-button {
    padding: 8px;
    margin: 16px auto;
    border-radius: 8px;
    width: 100%;
    border: 1px grey solid;
    font-size: 1.2rem;
    background-color: #0C0A09;
    color: #F9FAFB;
    cursor: pointer;

}
.job-search-bar {
    flex-grow: 1;
}
.big-job-search-button {
    background-color: #0C0A09;
    color: #F9FAFB;
}

.big-job-search-button {
    display: none;
    padding: 8px;
    margin: 16px auto;
    border-radius: 8px;
   
    border: 1px grey solid;
    font-size: 1.2rem;
}

.job-filter {
    /* border: 1px red solid; */
    display: flex;
    gap: 8px;
}

.job-location-filter {
    padding: 8px;
    font-size: 1.2rem;
    flex-grow: 2;
    border-radius: 8px;
    border: 1px black solid;
    width: 50%;
}

.job-more-filters {
    padding: 8px;
    /* font-size: 1.2rem; */
    border-radius: 8px;
    border: 1px black solid;
    cursor: pointer;
}

.jobs-total-sort {
    display: flex;
    justify-content: space-between;
    margin: 8px auto;
    margin: 0px 16px;
    padding: 8px
    /* border: 1px black solid; */
}

.big-job-filter {
    display: none;
    justify-content: space-between;
    /* gap: 16px; */
    border-top: 1px grey solid;
    border-bottom: 1px grey solid;
    margin: 16px;
    padding: 16px;
}

/* .jobs-total-sort {
    margin: 0px 16px;
    padding: 8px
} */

#sort-selection {
    padding: 4px;
    border-radius: 5px;
    cursor: pointer;
}

.expand-more-filters {
    display: none;
    border: 1px black solid;
    background-color: bisque;
    /* margin: 16px; */
    border-radius: 8px;
    padding: 8px;
    position: relative;
}

.more-filters-close {
    position: absolute;
    right: 8px;
    top: 2px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 2rem;
}

.date-posted-filter, .job-type-filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
    padding: 8px;
}

.date-posted-filter label,
.job-type-filter label {
    flex-basis: calc(50% - 10px); /* Make each item take up half of the container's width, minus gap */
    /* border: 1px solid black; */
    /* padding:8px; */
    color: #64748B;
    font-size: 0.8rem;
}

.job-listings {
    /* margin: 16px auto; */
    display: flex;
    gap: 8px;
    /* max-width: 500px; */
    border: 1px black solid;
}

.job-card-section {
    border: 1px red solid;
    display: flex;
    flex-direction: column;
    /* gap: 16px; */
    width: 100%;
    max-width: 500px;
    margin: 8px auto;
    border-radius: 8px;
    cursor: pointer;
}

.big-job-card-apply {
    display: none;
    border: 1px blue solid;
}

.job-card {
    border: 1px #CBD5E1 solid;
    display: flex;
    gap: 16px;
    width: 100%;
    /* min-width: 350px; */
    max-width: 400px;
    /* width: 80%; */
    margin: 8px auto;
    border-radius: 8px;
    cursor: pointer;

}

.job-card-text {
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding:4px
}

.job-card-logo {
    padding: 8px
}

.job-card-title {
    font-weight: 600;
}

.job-card-company {
    font-weight:300;
}

.job-card-location {
    color: #64748B;
    margin-bottom: 8px;
    font-size: 0.9rem;
}

.job-card-date {
    color: #64748B;
    font-size: 0.8rem;
    font-weight: 200;
}

/* styles for laptops */
@media  screen and (min-width: 768px) {
    .big-job-search-button {
        display: block;
    }
    body {
        font-size: 18px;
        font-family: "Poppins";
    }
    .job-filter {
        display: none;
    }
    .job-search-button {
        display: none;
    }
    .big-job-filter {
        display: flex;
        gap: -80px;
        margin-top: 0px;
    }
    .jobs-total-sort {
        display: none;   
    }
    .big-filter {
        /* border: 1px grey solid; */
        padding: 8px 12px;
        border-radius: 16px;
        font-weight: 500;
    }
    .job-listings {
        padding: 16px 16px;
        gap: 16px;
    }
    .job-card-section {
        /* margin: 16px 0px; */
        max-width: 600px;
        padding: 16px;
    }
    .job-card {
        max-width: 600px;
    }
    .big-job-card-apply {
        display: block;
        /* flex-grow: 1; */
    }

}